body {
background-color: #000;
color: #fff;
font-family: 'Roboto', sans-serif;
}
.wrapper{
width: 1440px;
margin: 0 auto;    
}
header{
    display: flex;
    height: 300px;
    width: 100%;
}
.ava{
    border-radius: 20%;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
main{
    display: flex;
    width: 100%;
    border: dotted 1px green;
}
li{
 list-style-type: none;
}
.side{
    background-color: #333;
    border-right: dotted 1px green;
    padding: 20px;
    width: 75%;
}
.side_hy{
    width: 100%;
    padding: 20px 0;
}
.side_hy_t{
    padding-bottom: 10px;
    border-bottom: solid 2px #fff;
    font-size: 30px;
}
code{
    display: inline-block;
    padding: 10px;
    background-color: #111;
}
aside{
    width: 25%;
    padding: 20px;
    background-color: rgb(17, 17, 17)
    
}
.dis{
    width: 100%;
    padding: 20px 0;
}
.dis_w{
    padding-bottom: 10px;
    border-bottom: solid 2px #fff;
    font-size: 30px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px;
   background-color: #fff;
}
.footer_year{
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 37px;
    font-weight: bold;
    color: #000;
}
.footer_github{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    font-size: 20px;
    color: #000;
    }

    .githoob:hover{
        opacity: 1%;
        transform: scale(1.1);
       transition: 0.2s;
    }

    .githoob{
        width: 50px;
    }

    .rsschool{
        width: 80px;
        margin-right: 30px;
    }